Repository yeoruti-study/front-end, pull requests merged in 2023-01, with the labels that each got.

#7 💄 CSS Reset 적용 및 라우터 설정
  src/App.jsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/style/reset.css
Labels: 🎨 style

#9 [여럿이-8] Input, Button 컴포넌트 구현
  src/common/Button.jsx
  src/common/Input.jsx
  src/hook/useInput.jsx
Labels: 🎨 style, ✨ feature

#10 [여럿이-6] 색상 팔레트 추가
  src/common/Button.jsx
  src/common/Input.jsx
  src/style/color.jsx
Labels: 🎨 style

#14 [여럿이-13] 로그인 페이지 UI 구현
  src/App.css
  src/App.jsx
  src/assets/kakao_login.png
  src/assets/logo_dark.png
  src/assets/logo_light.png
  src/assets/naver_login.png
  src/component/Login/LoginForm.jsx
  src/component/Login/RememberMeToggle.jsx
  src/component/Login/SocialLogin.jsx
  src/container/LoginContainer.jsx
  src/hook/useToggle.jsx
  src/style/GlobalStyles.jsx
Labels: 🎨 style

#15 [여럿이-11] 홈페이지 과목 슬라이더 만들기
  package.json
  src/App.jsx
  src/assets/icons/chevron-left.svg
  src/assets/icons/chevron-right.svg
  src/components/SlideButton.tsx
  src/components/SubjectCell.tsx
  src/components/SubjectSlider.tsx
  src/containers/SubjectContainer.tsx
  yarn.lock
Labels: ✨ feature

#16 카카오 로그인 프로토타입 작업
  package-lock.json
  public/index.html
  src/App.jsx
  src/component/Login/KakaoLogin.jsx
  src/component/Login/KakaoOauth.jsx
  src/component/Login/SocialLogin.jsx
  src/index.tsx
  yarn.lock
Labels: 🧪 test
